
	<!-- START PAGE -->
	<div class="wrapper">
	
		<!-- HEADER -->
		<div id="header-landing" class="inner-page">
			
			<!-- NAV MENU WRAPPER FOR FIXED POSITION -->
			<div id="nav-menu">
				
				<!-- NAV MENU CONTAINER -->
				<div class="container">
					
					<!-- LOGO -->
					<div id="logo">
					<h1><a href="index.html"><i class="fa fa-flask"></i> teplok.</a></h1>
					</div>
					<!-- END LOGO -->
					
					<!-- NAV MENU -->
					<%= render 'layouts/navbar'%>
					<!-- END NAV MENU -->
					
				</div>
				<!-- END NAV MENU CONTAINER -->
				
			</div>
			<!-- END NAV MENU FIXED POSITION -->
			
		</div>
		<!-- END HEADER -->
		
		
		<!-- SECTION BLOG LIST -->
		<div class="section-page-landing">
			<div class="inner-section">
				<div class="container">
					<h2 class="post-heading">OUR BLOG</h2>
					<hr />
					<div class="row">
						<div class="col-md-9">
							<div class="blog-list">
								<ul class="media-list">
									<li class="media">
										<a class="pull-left" href="blog-detail.html.erb">
											<img class="media-object" src="images/blog-img/image001.jpg" alt="Blog image">
										</a>
										<div class="media-body">
											<h4 class="media-heading"><a href="blog-detail.html.erb">Nam liber tempor cum soluta nobis eleifend option congue</a></h4>
											<p class="additional-post">
											By <a href="#fakelink">John Doe</a> on January 17, 2014
											</p>
											<p>
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam
											</p>
											<a class="btn btn-default btn-teplok btn-sm">Read more</a>
										</div>
									</li>
									<li class="media">
										<a class="pull-left" href="blog-detail.html.erb">
											<img class="media-object" src="images/blog-img/image002.jpg" alt="Blog image">
										</a>
										<div class="media-body">
											<h4 class="media-heading"><a href="blog-detail.html.erb">Nam liber tempor cum soluta nobis eleifend option congue</a></h4>
											<p class="additional-post">
											By <a href="#fakelink">John Doe</a> on January 17, 2014
											</p>
											<p>
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam
											</p>
											<a class="btn btn-default btn-teplok btn-sm">Read more</a>
										</div>
									</li>
									<li class="media">
										<a class="pull-left" href="blog-detail.html.erb">
											<img class="media-object" src="images/blog-img/image003.jpg" alt="Blog image">
										</a>
										<div class="media-body">
											<h4 class="media-heading"><a href="blog-detail.html.erb">Nam liber tempor cum soluta nobis eleifend option congue</a></h4>
											<p class="additional-post">
											By <a href="#fakelink">John Doe</a> on January 17, 2014
											</p>
											<p>
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam
											</p>
											<a class="btn btn-default btn-teplok btn-sm">Read more</a>
										</div>
									</li>
									<li class="media">
										<a class="pull-left" href="blog-detail.html.erb">
											<img class="media-object" src="images/blog-img/image001.jpg" alt="Blog image">
										</a>
										<div class="media-body">
											<h4 class="media-heading"><a href="blog-detail.html.erb">Nam liber tempor cum soluta nobis eleifend option congue</a></h4>
											<p class="additional-post">
											By <a href="#fakelink">John Doe</a> on January 17, 2014
											</p>
											<p>
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam
											</p>
											<a class="btn btn-default btn-teplok btn-sm">Read more</a>
										</div>
									</li>
									<li class="media">
										<a class="pull-left" href="blog-detail.html.erb">
											<img class="media-object" src="images/blog-img/image002.jpg" alt="Blog image">
										</a>
										<div class="media-body">
											<h4 class="media-heading"><a href="blog-detail.html.erb">Nam liber tempor cum soluta nobis eleifend option congue</a></h4>
											<p class="additional-post">
											By <a href="#fakelink">John Doe</a> on January 17, 2014
											</p>
											<p>
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam
											</p>
											<a class="btn btn-default btn-teplok btn-sm">Read more</a>
										</div>
									</li>
								</ul>
								<ul class="pagination">
								  <li class="disabled"><a href="#">&laquo;</a></li>
								  <li class="disabled"><a href="#">&lsaquo;</a></li>
								  <li class="active"><a href="#">1</a></li>
								  <li><a href="#">2</a></li>
								  <li><a href="#">3</a></li>
								  <li><a href="#">4</a></li>
								  <li><a href="#">5</a></li>
								  <li><a href="#">&rsaquo;</a></li>
								  <li><a href="#">&raquo;</a></li>
								</ul>
							</div>
						</div>
						
						
						<!-- SIDEBAR -->
						<div class="col-md-3">
							<div class="sidebar">
								<form role="form" class="search-form">
									<input type="text" class="form-control" placeholder="Search">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
								</form>
								
								<h4>POPULAR POSTS</h4>
									<ul class="media-list">
									  <li class="media">
										<div class="media-body">
										  <h4 class="media-heading"><a href="blog-detail.html.erb">Duis autem vel eum iriure dolor in hendrerit</a></h4>
										  January 17, 2014 | 1027 views
										</div>
									  </li>
									  <li class="media">
										<div class="media-body">
										  <h4 class="media-heading"><a href="blog-detail.html.erb">Claritas est etiam processus dynamicus</a></h4>
										  January 17, 2014 | 1007 views
										</div>
									  </li>
									  <li class="media">
										<div class="media-body">
										  <h4 class="media-heading"><a href="blog-detail.html.erb">Nam liber tempor cum soluta nobis eleifend option</a></h4>
										  January 17, 2014 | 999 views
										</div>
									  </li>
									  <li class="media">
										<div class="media-body">
										  <h4 class="media-heading"><a href="blog-detail.html.erb">Duis autem vel eum iriure dolor in hendrerit</a></h4>
										  January 17, 2014 | 952 views
										</div>
									  </li>
									</ul>
								
								
								<h4>CATEGORIES</h4>
									<ul class="media-list">
									  <li class="media">
										<div class="media-body">
										  <h4 class="media-heading"><a href="#fakelink">Responsive web design</a></h4>
										</div>
									  </li>
									  <li class="media">
										<div class="media-body">
										  <h4 class="media-heading"><a href="#fakelink">Photography</a></h4>
										</div>
									  </li>
									  <li class="media">
										<div class="media-body">
										  <h4 class="media-heading"><a href="#fakelink">SEO</a></h4>
										</div>
									  </li>
									  <li class="media">
										<div class="media-body">
										  <h4 class="media-heading"><a href="#fakelink">PHP Programming</a></h4>
										</div>
									  </li>
									  <li class="media">
										<div class="media-body">
										  <h4 class="media-heading"><a href="#fakelink">Graphic Design</a></h4>
										</div>
									  </li>
									</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<!-- FOOTER -->
         <%= render 'layouts/footer'%>
		<!-- END FOOTER -->
		
		
		<!-- BACK TO TOP BUTTON -->
		<div id="back-top">
			<a href="#top"><i class="fa fa-chevron-up"></i></a>
		</div>
		<!-- END BACK TO TOP -->
		
		
	</div>
	
	
	<!-- END OF PAGE -->
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/third/validator/bootstrapValidator.min.js"></script>
	<script src="assets/js/jquery.smooth-scroll.js"></script>
	<script src="assets/js/teplok-one-inner-page.js"></script>
	</body>
</html>