<div id="header-landing">
  <!-- NAV MENU WRAPPER FOR FIXED POSITION -->
   <%= render 'layouts/navbar'%>
  <!-- END NAV MENU FIXED POSITION -->

  <!-- HEADER SECTION CONTENT -->
  <div class="awesome-slogan">
    <h2>Your <span>Awesome</span> Text <span>Goes Here</span></h2>
    <h4>aku kelingan <span>jaman semono</span> pas iseh nganggo <span>teplok</span></h4>
    <p>FOLLOW US</p>
    <div class="clear"></div>
    <div class="social-icons">
      <a href="#fakelink" data-toggle="tooltip" title="Facebook"><img src="assets/img/social-icons/facebook.png" alt="Facebook icon"></a>
      <a href="#fakelink" data-toggle="tooltip" title="Github"><img src="assets/img/social-icons/github.png" alt="Github icon"></a>
      <a href="#fakelink" data-toggle="tooltip" title="Google+"><img src="assets/img/social-icons/gplus.png" alt="Gplus icon"></a>
      <a href="#fakelink" data-toggle="tooltip" title="Liked In"><img src="assets/img/social-icons/likedin.png" alt="Linkedin icon"></a>
      <a href="#fakelink" data-toggle="tooltip" title="Tumblr"><img src="assets/img/social-icons/tumblr.png" alt="Tumblr icon"></a>
      <a href="#fakelink" data-toggle="tooltip" title="Twitter"><img src="assets/img/social-icons/twitter.png" alt="Twitter icon"></a>
      <a href="#fakelink" data-toggle="tooltip" title="Vimeo"><img src="assets/img/social-icons/vimeo.png" alt="Vimeo icon"></a>
      <a href="#fakelink" data-toggle="tooltip" title="Youtube"><img src="assets/img/social-icons/youtube.png" alt="Youtube icon"></a>
    </div><!-- /.social-icons -->
  </div><!-- /.awesome-slogan -->
  <!-- END HEADER SECTION CONTENT -->
</div><!-- /.header-landing -->